body {
    font-family: 'Quattrocento Sans', sans-serif;
    text-shadow: 0px 1px 0px #444;
    background: #006699;
    color: #ccccff;
}

a {
    color: #FFCC00;
    text-decoration: none;
}

a:hover {
    color: #006699;
    background: #FFCC00;
}


h1, h2, h3 {
    color: #ccccff;
    margin-bottom: 0.25em;
} 

fieldset {
    border: none;
    border-top: 1px solid #fff;
    margin: 0;
    padding-bottom: 0;
}

legend {
    text-align: center;
}

.center {
    text-align: center
}

.left-align {
    text-align: left
}

.words {
    font-family: "Droid Sans Mono", sans-serif;
    text-align: center;
}

.words div {
    position: relative;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: larger;
    letter-spacing: 0.1em;
}

h4 {
    text-align: center;
    margin-bottom: 0.5em;
} 

.blurb {
    margin: 0 20%;
    font-size: smaller;
    font-style: italic;
    margin-bottom: 0.25em;
    text-align: justify;
}

.word {
    width: 100%;
}

.glow {
    text-shadow: 0 0 10px #fff;    
}